<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
      <div class="progress">
        <div id="compatibility-bar" class="progress-bar progress-bar-striped active <% if(compatibility > 70) { %> progress-bar-success <% } else if(compatibility > 30) { %> progress-bar-warning <% } else { %> progress-bar-danger <% } %>"
          role="progressbar"
          aria-valuenow="<%= compatibility %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= compatibility + 50 %>%">
          <%= compatibility %>% compatible!
        </div>
      </div>
    </div>
  </div>
