<html>
  <head>
  <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <div class="container" style="margin-bottom:50px;margin-top:20px;">
      <% include ./partials/compatibilityBar %>
      <% include ./partials/profileImages %>
      <% include ./partials/profileDescription %>
    </div>
  </body>
</html>
