<html>
  <head>
  <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <div class="container">

      <% include ./partials/error %>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
          <p>
            <strong>Tinderprint</strong> is a dating app that matches you with people based
            on true physical and spiritual compatibility.  For millenia,
            handreaders have been using fingerprints to characterize people's
            personalities and to predict major life events.  Tinderprint uses
            a neural net to analyze the unique qualities of your fingerprint.
            We use these qualities to match you with people with compatible
            personalities, helping you get to your next major life event &hearts;.
          </p>
          <br>
          <p>
            Tinderprint uses a convolutional neural network trained on a public data set
            to identify the prominent features of your fingerprint.  According to thousands of years
            of fingerprint reading, the presence of loops reveals your
            intelligence and demeanor, the presence of whorls indicates your will and conviction,
            and the presence of arches
            exposes your pragmatism and stubbornness.  We use a similarity metric across
            these features and more to help you find partners you'll be compatible with.
          </p>
        </div>
      </div>

      <% if(!loggedIn) { %>

      <div class="row" style="margin-top:20px;margin-bottom:50px;">
        <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
          <form action="login" method="POST">
            <div class="form-group">
              <label for="username-input">Username</label>
              <input type="text" class="form-control" name="username" id="username-input" placeholder="">
            </div>
            <div class="form-group">
              <label for="password-input">Password</label>
              <input type="password" class="form-control" name="password" id="password-input" placeholder="">
            </div>
            <button id="login-button" type="submit" class="btn btn-default">Login</button>
            <button id="sign-up-button" type="button" class="btn btn-default">Sign up</button>
          </form>
        </div>
      </div>

      <script src="login-form.js"></script>
      <% } %>
    </div>
  </body>
</html>
