<html>
  <head>
  <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <div class="container">
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
          <ul>
            <% matches.forEach(function(user){ %>
              <% include partials/match %>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
