@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.navbar-default .navbar-nav>li>a, #tinderprint-brand {
  color: tomato;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: tomato;
  color: white;
}

body p {
  line-height: 160%;
  font-weight: 300;
  font-size: 15;
}

button.btn.btn-default {
  color: tomato;
}

.profile-image {
  position: relative;
}

.fingerprint {
  width: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.list-group-item-heading {
  margin-bottom: 14px;
}
